<h2 class="text-center text-md-left" style="font-weight: bolder; color: rgb(56, 56, 56);">News</h2>
<div style="text-align: justify; color: #6f6f6f; font-size: 14px;">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, maxime itaque commodi aliquid, 
    debitis pariatur, odio voluptas nemo quidem nihil corrupti aut quia nesciunt 
    tenetur. Fugiat aliquid accusamus suscipit provident.
    tenetur. Fugiat aliquid accusamus suscipit provident.
</div>
<div class="text-center mt-2">
    <a href="" class="btn btn-sm btn-warning text-white">Read More</a>
</div>
