<div class="mt-5 mb-2">
    <div class="row">
        <div class="col-12 mx-auto">
            <h3 class="text-center text-dark pb-3">
                <img _ngcontent-omv-c63="" src="assets/need.png" height="40" alt="project" class="mr-2"
                    style="vertical-align: middle; padding-bottom: 3px;">
                <span _ngcontent-omv-c63=""
                    style="vertical-align: middle;">Need name 
                    <button _ngcontent-omv-c63="" routerLink="edit"
                        class="btn btn-warning btn-sm mb-1 ml-1" style="border-radius: 100%; color: white;"
                        tabindex="0">
                        <i _ngcontent-omv-c63="" class="fas fa-pen"></i>
                    </button>
                    <button _ngcontent-omv-c63="" class="btn btn-dark btn-sm mb-1 ml-1" style="border-radius: 100%;">
                        <i _ngcontent-omv-c63="" class="fas fa-trash"></i>
                    </button>
                </span>
            </h3>
            <ul id="myTab" role="tablist" class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link text-dark"  id="about-tab"
                        href="/projects/55/needs/7/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" routerLink="matches" id="about-tab"
                        href="/projects/55/needs/7/matches">Matching Contributions</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

