<div class="container my-5">
    <div class="row">
        <div class="col-lg-10 col-xl-8 mx-auto">
            <h3 class="header-title text-center text-dark pb-3 mb-3">
                <img src="assets/market.png" style="vertical-align: middle;" class="mr-2" height="55" alt="">
                <span style="vertical-align: middle;">Market Post Title</span>
            </h3>
            <div class="my-3">
                <div class="mb-3">
                    <div>
                        <span class="font-weight-bold">Posted By</span>
                    </div>
                    <div>
                        <a href="/profile/profile_id" style="color: rgb(48, 171, 223);">
                            Profile User
                        </a>
                    </div>
                </div>
                <div class="mb-3">
                    <div>
                        <span class="font-weight-bold">Posted By</span>
                    </div>
                    <div>July 22, 2021 (date of post)</div>
                </div>
                <div class="mb-3">
                    <div>
                        <span class="font-weight-bold">Description</span>
                    </div>
                    <div>
                        the description text: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod inventore laudantium consequatur,
                                              ipsum dolor sit amet consectetur adipisicing elit. Quod inventore laudantium consequatur. 
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>