
<nav class="navbar navbar-expand navbar-light bg-light" >
    <ul class="navbar-nav font-weight-bold">
      <li class="nav-item">
        <a  [routerLink]="['/dashboard']" class="nav-link" >
          Home
        </a>
      </li>
      <li class="nav-item">
        <a  [routerLink]="['/projects']" class="nav-link" >
          Projects
        </a>
      </li>
      <li class="nav-item">
        <a  [routerLink]="['/dashboard']" class="nav-link" >
          Contributions
        </a>
      </li>
      <li class="nav-item">
        <a  [routerLink]="['/dashboard']" class="nav-link" >
          Market
        </a>
      </li>
      <li class="nav-item dropdown">
        <a  class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop"  aria-expanded="false">
          Employment
        </a>
        <div class="dropdown-menu">
          <a  [routerLink]="['/dashboard']" class="dropdown-item" >
            Job
          </a>
          <a  [routerLink]="['/dashboard']" class="dropdown-item" >
            Interships
          </a>
        </div>
      </li>
    </ul>
  </nav>
  