<div class="mt-5">
    <div class="container py-3">
        <app-latest-events></app-latest-events>
    </div>

    <div class="container py-3">
        <app-latest-broadcasts></app-latest-broadcasts>
    </div>
    
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-8 py-3">
                <app-latest-news></app-latest-news>
            </div>
            <div class="col-lg-4 py-3">
                <app-sponsors></app-sponsors>  
            </div>
        </div>
    </div>
   <app-latest-projects></app-latest-projects>
   <app-latest-contributions></app-latest-contributions>
   
</div>
