<div _ngcontent-wii-c65="" class="my-3">
    <div _ngcontent-wii-c65="" class="mb-3">
        <div _ngcontent-wii-c65=""><span _ngcontent-wii-c65="" class="font-weight-bold">Abstract</span>
        </div>
        <div _ngcontent-wii-c65="">
            TESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTESTTEST
        </div>
    </div>
    <div _ngcontent-wii-c65="" class="mb-3">
        <div _ngcontent-wii-c65=""><span _ngcontent-wii-c65="" class="font-weight-bold">Description</span>
        </div>
        <div _ngcontent-wii-c65="">ESTTESTTESTTESTTEST</div>
    </div>
    <div _ngcontent-wii-c65="" class="mb-3">
        <div _ngcontent-wii-c65=""><span _ngcontent-wii-c65="" class="font-weight-bold">Location</span>
        </div>
        <div _ngcontent-wii-c65=""><span _ngcontent-wii-c65=""> Bkesmaya,</span><span _ngcontent-wii-c65="">
                Batroun,</span>Lebanon
        </div>
    </div>
    <div _ngcontent-wii-c65="" class="mb-3">
        <div _ngcontent-wii-c65=""><span _ngcontent-wii-c65="" class="font-weight-bold">Sectors this project
                belongs to</span></div>
        <div _ngcontent-wii-c65="" class="mb-1" style="margin-left: -5px;"><span _ngcontent-wii-c65=""
                class="px-2 py-1 m-1 ml-0"
                style="display: inline-block; border-radius: 10px; border: solid 1px #343a40;"> Government
            </span><span _ngcontent-wii-c65="" class="px-2 py-1 m-1 ml-0"
                style="display: inline-block; border-radius: 10px; border: solid 1px #343a40;"> Industry
            </span><span _ngcontent-wii-c65="" class="px-2 py-1 m-1 ml-0"
                style="display: inline-block; border-radius: 10px; border: solid 1px #343a40;"> Journalism
            </span>
        </div>
    </div>
</div>