    <div  class="container my-5">
        <h1 class="header-title text-center text-dark pb-3 mb-3"><img 
                src="assets/contact.png" height="55" alt="contact" class="mr-2"
                style="vertical-align: middle;"><span  style="vertical-align: middle;">Contact
                Us</span></h1>
        <div class="mt-4">
            <h4>You have a question or a suggestion?</h4>
            <p > Feel free to contact us by clicking <b ><a
                         href="mailto:contact@iecplatform.org" class="text-dark">here</a></b></p>
        </div>
    </div>
