    <div  class="container my-5">
        <h1 class="header-title text-center text-dark pb-3 mb-3"><img 
                src="assets/about.png" height="55" alt="about" class="mr-2"
                style="vertical-align: middle;"><span  style="vertical-align: middle;">About IEC
            </span></h1>
        <div>
            <p  class="font-weight-bold" style="color: #6f6f6f;"> The Innovation and
                Entrepreneurship Center (IEC) was founded in 2019 within the Lebanese International University (LIU).
            </p>
            <h4 >IEC Mission</h4>
            <p  style="color: #6f6f6f;"> Our mission is to engage, serve and support LIU students,
                faculty, staff, and alumni, as well as students and entrepreneurs throughout the community and region,
                in the creation of entrepreneurial ventures and innovative business solutions. </p>
            <h4 >IEC Spirit</h4>
            <ul  style="color: #6f6f6f;">
                <li > We believe that we were born entrepreneurs, and we encourage everyone to
                    rediscover the entrepreneur in themselves. </li>
                <li > We believe that in every challenge lies an opportunity, and in every
                    unemployment lies a self-employment venture to service livelihoods and society. </li>
                <li> We believe in the power of innovation and the encouragement of ambitious
                    mindsets for change. </li>
            </ul>
            <h4 >IEC Vision</h4>
            <p  style="color: #6f6f6f;"> Our vision is to build an ecosystem of entrepreneurial
                minds who can meaningfully and positively impact their communities and be leaders in entrepreneurial
                ventures for the common good. </p>
            <h4 >Curriculum</h4>
            <ol  style="color: #6f6f6f;">
                <li > Offer an integrated curriculum and experiential learning programs that exceed
                    the expectations of students and businesses. </li>
                <li > Accelerate student competencies in leadership and innovation through coaching
                    and training. </li>
            </ol>
        </div>
    </div>
