<div class="container my-5">
    <h1 class="header-title text-center text-dark pb-3 mb-3">
        <img src="assets/job.png" style="vertical-align: middle;" class="mr-2" height="55" alt="">
        <span style="vertical-align: middle;">Job Opportunities
            <a routerLink="add"   style="border-radius: 100%; color: white;" class="btn btn-warning btn-sm mb-1 ml-1">
                <i class="fas fa-plus"></i>
            </a>
        </span>
    </h1>
    <div>
        <div class="container-data mb-5">
            <!-- start of market post -->
            <div class="container-box mb-3">
                <div>
                    <div class="p-3 bg-dark mb-2" style="border-radius: 10px; background-color: rgb(229, 229, 224);">
                        <div class="mb-2">
                            <img src="assets/job.png" style="height: 70px; background-color: white; padding: 7px; border-radius: 100%;" alt="">
                        </div>
                        <h4>
                            <a  routerLink="8/about"  style="color: rgb(242, 184, 71);">Job Opportunities Title</a>
                        </h4>
                        <p style="color: #fff; text-align: justify;">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, autem sit qui porro ipsam commodi quisquam iusto.
                        </p>
                    </div>
                </div>
            </div>
            <!-- end of market post -->
            <!-- start of market post -->
            <div class="container-box mb-3">
                <div>
                    <div class="p-3 bg-dark mb-2" style="border-radius: 10px; background-color: rgb(229, 229, 224);">
                        <div class="mb-2">
                            <img src="assets/job.png" style="height: 70px; background-color: white; padding: 7px; border-radius: 100%;" alt="">
                        </div>
                        <h4>
                            <a href="/jobs/8/about" style="color: rgb(242, 184, 71);">Job Opportunities Title</a>
                        </h4>
                        <p style="color: #fff; text-align: justify;">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, autem sit qui porro ipsam commodi quisquam iusto.
                        </p>
                    </div>
                </div>
            </div>
            <!-- end of market post -->
        </div>
    </div>
</div>