<nav class="navbar mb-0">
  <a href="" class="navbar-brand">
    <img src="assets/iec_logo_white_web.png" height="60px" alt="">
  </a>
  <div class="dropdown" >
    <span class="mr-2 font-weight-bold d-none d-sm-inline" style="vertical-align: middle;">
      user name
    </span>
    <button class="btn profile-icon d-none d-sm-inline" 
      type="button" id="dropdownMenuButton" 
        data-toggle="dropdown" 
          aria-haspopup="true" 
            aria-expanded="false">
      <img src="assets/user.png" height="45" alt="">
    </button>
    <button class="btn profile-icon d-sm-none" 
      type="button" id="dropdownMenuButton" 
        data-toggle="dropdown" 
          aria-haspopup="true" 
            aria-expanded="false"
              placement="left"
                >
      <img src="assets/user.png" height="45" alt="">
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
      <div>
        <a href="" class="dropdown-item">
          Profile
        </a>
        <div class="dropdown-divider">

        </div>
        <a href="" class="dropdown-item" type="button">
          Logout
        </a>
        <div class="dropdown-divider">

        </div>
        <a [routerLink]="['/signin']" class="dropdown-item" type="button">
          Sign in
        </a>
        <div class="dropdown-divider">

        </div>
        <a [routerLink]="['/signup']" class="dropdown-item" type="button">
          Sign Up
        </a>
      </div>
    </div>
  </div>
</nav>

<!-- menu -->

<nav class="navbar navbar-expand navbar-light bg-light" >
  <ul class="navbar-nav font-weight-bold">
    <li class="nav-item active">
      <a  [routerLink]="['/dashboard']" class="nav-link" >
        Home
      </a>
    </li>
    <li class="nav-item">
      <a  [routerLink]="['/dashboard']" class="nav-link" >
        Projects
      </a>
    </li>
    <li class="nav-item">
      <a  [routerLink]="['/dashboard']" class="nav-link" >
        Contributions
      </a>
    </li>
    <li class="nav-item">
      <a  [routerLink]="['/dashboard']" class="nav-link" >
        Market
      </a>
    </li>
    <li class="nav-item dropdown">
      <a  class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop"  aria-expanded="false">
        Employment
      </a>
      <div class="dropdown-menu">
        <a  [routerLink]="['/dashboard']" class="dropdown-item" >
          Job
        </a>
        <a  [routerLink]="['/dashboard']" class="dropdown-item" >
          Interships
        </a>
      </div>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>


