<div class="container my-5">
    <div class="row">
        <div class="col-lg-10 col-8 mx-auto">
            <h1 class="header-title text-center text-dark pb-3 mb-3">
                <img src="assets/project.png" style="vertical-align: middle;" class="mr-2" height="55" alt="project">
                <span style="vertical-align: middle;">
                    Create a Project
                </span>
            </h1>
            <form class="mb-2 ng-pristine ng-invalid ng-touched">
                <div class="form-group mb-3">
                    <label for="title" class="font-weight-bold mb-1">Title</label>
                    <input type="text" id="title" placeholder="Enter a title for your project" maxlength="32" name="title"
                        class="form-control">
                </div>
                <div class="form-group mb-3">
                    <label for="abstract" class="font-weight-bold mb-1">Abstract</label>
                    <textarea type="text" id="abstract" placeholder="Enter a title for your project" maxlength="32" name="abstract"
                        class="form-control" minlength="120" maxlength="256" rows="4"
                            placeholder="Write an abstract about your project"
                                class="form-control"></textarea>
                </div>
                <div class="form-group mb-3">
                    <label for="description" class="font-weight-bold mb-1">Description</label>
                    <textarea type="text" id="description" placeholder="Enter a title for your project" maxlength="32" name="description"
                        class="form-control" minlength="120" maxlength="1000" rows="10"
                            placeholder="Write a description about your project"
                                class="form-control"></textarea>
                </div>
                <div class="form-group mb-3">
                    <label class="font-weight-bold mb-1">Location</label>
                    <select name="selectedCountry" id="country" class="form-control mb-2"  [(ngModel)]="selectedCountry">
                        <option value="" selected >Select a country</option>
                        <option value="1" >lebanon</option>
                        <option value="2" >Country 1</option>
                        <option value="3" >Country 2</option>
                    </select>
                    <select *ngIf="selectedCountry==='1'" name="country" id="country" class="form-control mb-2">
                        <option value="" hidden>Select a province</option>
                        <option value="1">province 1</option>
                        <option value="2">province 2</option>
                    </select>
                </div>
                <div></div>
                <button type="submit" class="btn btn-dark w-100">Save Project</button>
            </form>
        </div>
    </div>
</div>

