<div class="container my-5">
    <h1 class="header-title text-center text-dark pb-3 mb-3">
        <img src="assets/project.png" style="vertical-align: middle;" class="mr-2" height="55" alt="project">
        <span style="vertical-align: middle;">
            My Projects
            <a routerLink="create"   style="border-radius: 100%; color: white;" class="btn btn-warning btn-sm mb-1 ml-1">
                <i class="fas fa-plus"></i>
            </a>
        </span>
    </h1>
    <!-- if i have no projects -->
    <div class="jumbotron text-center" *ngIf="!myProjects">
        <h4 class="mb-4"> You don't have any project yet </h4>
        <p>
            <button routerLink="create" tabindex="0" class="btn btn-lg btn-warning text-white">
                <i class="fas fa-plus-circle"></i>
                Create Project 
            </button>
        </p>
    </div>
    <!-- my projects -->
    <div>
        <div class="container-data mb-5">
            <div class="container-box mb-3">
                <div class="p-3 bg-dark mb-2" style="border-radius: 10px;">
                    <div class="mb-2">
                        <img src="assets/project.png" 
                        style="height: 70px; background-color: white; padding: 7px; border-radius: 100%;" alt=""
                        placement="right">
                    </div>
                    <h4>
                        <a [routerLink]="[55,'about']"   style="color: rgb(242, 184, 71);">
                            any project name
                        </a>
                    </h4>
                    <p style="color: #fff; text-align: justify;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum deserunt modi totam exercitationem id ducimus eligendi debitis
                    </p>
                </div>
                <div class="mb-2">
                    <div>
                        <!-- ngb carrousal -->
                        <ngb-carousel>
                            <ng-template ngbSlide>
                              <div class="picsum-img-wrapper">
                                <img src="assets/pharmacyMedical.jpg" alt="Angular Carousel 1" class="mh-100  ng-lazyloaded"
                                    style="border-radius: 10px; width: 100%; max-height: 400px;">
                              </div>
                              <div class="carousel-caption">
                                <h3>Title Goes Here</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                              </div>
                            </ng-template>
                            <ng-template ngbSlide>
                              <div class="picsum-img-wrapper">
                                <img src="assets/humanServices.jpg" alt="Angular Carousel 2" class="mh-100  ng-lazyloaded"
                                style="border-radius: 10px; width: 100%; max-height: 400px;">
                              </div>
                              <div class="carousel-caption">
                                <h3>Title Goes Here</h3>
                                <p>Consectetur tortor volutpat pretium.</p>
                              </div>
                            </ng-template>
                            <ng-template ngbSlide>
                              <div class="picsum-img-wrapper">
                                <img src="assets/retails.jpg" alt="Angular Carousel 2" class="mh-100  ng-lazyloaded"
                                style="border-radius: 10px; width: 100%; max-height: 400px;">
                              </div>
                              <div class="carousel-caption">
                                <h3>Title Goes Here</h3>
                                <p>Consectetur tortor volutpat pretium.</p>
                              </div>
                            </ng-template>
                          </ngb-carousel>
                    </div>
                </div>
                <div class="mb-2" style="display:flex">
                    <img src="assets/location.png" class="mr-1" height="24" alt="">
                    <div class="px-2 w-100" style="border-radius: 10px; color: #fff; background-color: rgb(173, 173, 173);">
                        <span class="font-weight-bold">Lebanon</span>
                    </div>
                </div>
                <div class="mb-2" style="display:flex">
                    <img src="assets/user.png" class="mr-1" height="24" alt="">
                    <div class="px-2 w-100" style="border-radius: 10px; color: #fff; background-color: rgb(173, 173, 173);">
                        <span class="font-weight-bold">Lebanon</span>
                        <span class="float-right">student</span>
                    </div>
                </div>
                <div class="mb-2" style="display:flex">
                    <img src="assets/collaboration.png" class="mr-1" height="24" alt="">
                    <div class="px-2 w-100" style="border-radius: 10px; color: #fff; background-color: rgb(173, 173, 173);">
                        <span class="font-weight-bold">inverstor name</span>
                        <span class="float-right">collaboration</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>