<div class="container my-5">
    <h1 class="header-title text-center text-dark pb-3 mb-3">
        <img src="assets/project.png" style="vertical-align: middle;" class="mr-2" height="55" alt="project">
        <span style="vertical-align: middle;">
            My Projects
            <a [routerLink]="['/create']"   style="border-radius: 100%; color: white;" class="btn btn-warning btn-sm mb-1 ml-1">
                <i class="fas fa-plus"></i>
            </a>
        </span>
    </h1>
    <div class="jumbotron text-center" *ngIf="!myProjects">
        <h4 class="mb-4"> You don't have any project yet </h4>
        <p>
            <button [routerLink]="['/create']" tabindex="0" class="btn btn-lg btn-warning text-white">
                <i class="fas fa-plus-circle"></i>
                Create Project 
            </button>
        </p>
    </div>
</div>