    <div  class="container my-5">
        <h1  class="header-title text-center text-dark pb-3 mb-3"><img 
                src="assets/partners.png" height="55" alt="partners" class="mr-2"
                style="vertical-align: middle;"><span  style="vertical-align: middle;">Our
                Partners</span></h1>
        <div  class="my-4">
            <div  class="container-data mb-5">
                <div  class="container-box mb-3">
                    <div>
                        <div class="mb-2">
                            <!----><a  target="_blank" href="http://injaz-lebanon.org"><img
                                     alt="Random first slide" class="mh-100  ng-lazyloaded"
                                    style="border-radius: 10px; width: 100%; max-height: 400px; border: solid thin gray;"
                                    src="https://www.iecplatform.org/assets/partners/partner_b2417148-c676-11ea-85b7-bdae2edabc21_1612648433751.png"></a>
                            <!---->
                            <!---->
                        </div>
                    </div>
                </div>
                <div  class="container-box mb-3">
                    <div >
                        <div  class="mb-2">
                            <!----><a  target="_blank" href="https://spark.ngo"><img
                                     alt="Random first slide" class="mh-100  ng-lazyloaded"
                                    style="border-radius: 10px; width: 100%; max-height: 400px; border: solid thin gray;"
                                    src="https://www.iecplatform.org/assets/partners/partner_b2417148-c676-11ea-85b7-bdae2edabc21_1612648289933.png"></a>
                            <!---->
                            <!---->
                        </div>
                    </div>
                </div>
                <div  class="container-box mb-3">
                    <div >
                        <div class="mb-2">
                            <!----><a  target="_blank" href="https://llwb.org"><img
                                     alt="Random first slide" class="mh-100  ng-lazyloaded"
                                    style="border-radius: 10px; width: 100%; max-height: 400px; border: solid thin gray;"
                                    src="https://www.iecplatform.org/assets/partners/partner_b2417148-c676-11ea-85b7-bdae2edabc21_1612648401438.png"></a>
                            <!---->
                            <!---->
                        </div>
                    </div>
                </div>
                <div  class="container-box mb-3">
                    <div >
                        <div  class="mb-2">
                            <!----><a  target="_blank" href="https://badael.org"><img
                                     alt="Random first slide" class="mh-100  ng-lazyloaded"
                                    style="border-radius: 10px; width: 100%; max-height: 400px; border: solid thin gray;"
                                    src="https://www.iecplatform.org/assets/partners/partner_b2417148-c676-11ea-85b7-bdae2edabc21_1612648266805.png"></a>
                            <!---->
                            <!---->
                        </div>
                    </div>
                </div>
                <div  class="container-box mb-3">
                    <div >
                        <div  class="mb-2">
                            <!----><a  target="_blank" href="https://antwork.com"><img
                                     alt="Random first slide" class="mh-100  ng-lazyloaded"
                                    style="border-radius: 10px; width: 100%; max-height: 400px; border: solid thin gray;"
                                    src="https://www.iecplatform.org/assets/partners/partner_b2417148-c676-11ea-85b7-bdae2edabc21_1612647850653.png"></a>
                            <!---->
                            <!---->
                        </div>
                    </div>
                </div>
                <div class="container-box mb-3">
                    <div >
                        <div class="mb-2">
                            <!----><a  target="_blank" href="https://oxfam.org"><img
                                     alt="Random first slide" class="mh-100  ng-lazyloaded"
                                    style="border-radius: 10px; width: 100%; max-height: 400px; border: solid thin gray;"
                                    src="https://www.iecplatform.org/assets/partners/partner_b2417148-c676-11ea-85b7-bdae2edabc21_1612648371261.png"></a>
                            <!---->
                            <!---->
                        </div>
                    </div>
                </div>
                <!---->
            </div>
        </div>
        <!---->
    </div>
