<div _ngcontent-rou-c52="" class="container my-5">
    <div _ngcontent-rou-c52="" class="row">
        <div _ngcontent-rou-c52="" class="col-md-8 mx-auto">
            <h1 _ngcontent-rou-c52="" class="header-title text-center text-dark pb-3 mb-3"><img _ngcontent-rou-c52=""
                    src="./../../../assets/signup.png" height="55" alt="" class="mr-2"
                    style="vertical-align: middle;"><span _ngcontent-rou-c52="" style="vertical-align: middle;">Sign
                    In</span></h1>
            <form _ngcontent-rou-c52="" novalidate="" class="mb-2 ng-untouched ng-pristine ng-invalid">
                <!---->
                <!---->
                <!---->
                <div _ngcontent-rou-c52="" class="form-group mb-3"><label _ngcontent-rou-c52="" for="email"
                        class="font-weight-bold mb-1">Email</label><sup _ngcontent-rou-c52=""><i _ngcontent-rou-c52=""
                            class="fas fa-asterisk text-danger"></i></sup><input _ngcontent-rou-c52="" id="email"
                        type="email" formcontrolname="email" placeholder="Enter your email" required="" maxlength="64"
                        onpaste="return false;" class="form-control ng-untouched ng-pristine ng-invalid">
                    <!---->
                </div>
                <div _ngcontent-rou-c52="" class="form-group mb-3"><label _ngcontent-rou-c52="" for="password"
                        class="font-weight-bold">Password</label><sup _ngcontent-rou-c52=""><i _ngcontent-rou-c52=""
                            class="fas fa-asterisk text-danger"></i></sup><input _ngcontent-rou-c52="" id="password"
                        type="password" formcontrolname="password" required="" placeholder="Enter a password"
                        maxlength="24" onpaste="return false;" class="form-control ng-untouched ng-pristine ng-invalid">
                    <!---->
                </div>
                <!----><button _ngcontent-rou-c52="" type="submit" class="btn btn-dark w-100" disabled=""> Sign In with
                    Email </button>
                <!---->
                <p _ngcontent-rou-c52="" class="mt-3 text-center font-weight-bold"><a _ngcontent-rou-c52=""
                        routerlink="/forgotpassword" class="text-secondary" href="/forgotpassword">I forgot my
                        password</a></p>
                <!---->
            </form>
            <div _ngcontent-rou-c52="">
                <h5 _ngcontent-rou-c52="" class="text-center text-dark my-4"> OR </h5>
                <!---->
                <div _ngcontent-rou-c52="" class="formGroup"><button _ngcontent-rou-c52="" type="button"
                        class="btn googleBtn w-100"> Sign In with Google </button></div>
            </div>
        </div>
    </div>
</div>