<div class="container py-2" style="font-size: 14px;">
    <div class="row text-center">
        <div class="col-12 col-sm-3 mx-auto mb-3 mb-sm-0">
            <a  routerLink="about" style="color: #6f6f6f;">About IEC</a>
        </div>
        <div class="col-12 col-sm-3 mx-auto mb-3 mb-sm-0">
            <a routerLink="terms" style="color: #6f6f6f;">Terms and conditions</a>
        </div>
        <div class="col-12 col-sm-3 mx-auto mb-3 mb-sm-0">
            <a routerLink="our-partners" style="color: #6f6f6f;">Our partners</a>
        </div>
        <div class="col-12 col-sm-3 mx-auto mb-3 mb-sm-0">
            <a routerLink="contact" style="color: #6f6f6f;">Contact us</a>
        </div>
    </div>
</div>
<div class="px-2 py-2" style="color: #6f6f6f; font-size: 14px;">
    <div class="container-fluid">
        <div class="text-center my-3">
            <span> IEC Platform © 2020 </span>
            | 
            <span>Powered by </span>
            <a href="">
                <img src="assets/liu.png" height="28" alt="LIU logo">
            </a>
        </div>
    </div>
</div>